.terminal{
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 36, 83, 0.673), black 120%
      );
    color:white;
    font: 1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    height: 95.5vh;
    padding: 1rem;
}

.terminal-input{
  background-color: transparent;
  color:white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  outline: none;
  border-color: transparent;
}