.desktop{
  background-image: url("./images/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 93vh;
  overflow-y: auto;
}

.taskbar{
  height:7vh;
  background-color: #0d0221;
  color: white;
  font-size: 0.75rem;
}

.terminal{
    background-color: #2e2157;
    color:white;
    font: 1rem Inconsolata, monospace;
    min-height: 60vh;
}

.terminal-input{
  background-color: transparent;
  color:white;
  font: 1rem Inconsolata, monospace;
  outline: none;
  border-color: transparent;
}

.top-bar{
  background-color: #b322963f;
  height:2rem;
  padding: 0.25rem 1rem 0 1rem;
}

.terminal-content{
  padding: 1rem;
}

.purple{
  color: #b32296;
}

.icon-div{
  width:5rem;
  padding: 0.5rem;

}
.icon{
  height:2.75rem;
  cursor: pointer;
}

/* Modal Customisation */
.modal-content{
  border-radius: 0 !important;
  background-color: #540d6e !important;
  color: white !important;
  font-size: 1rem !important;
}

.modal-header{
  background-color: #2e2157 !important;
  border-bottom: 0 !important;
}