.App{
  background-image: url("./images/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 100vh;
  overflow-y: auto;
}

.terminal{
    background-color: #2e2157;
    color:white;
    font: 1rem Inconsolata, monospace;
    min-height: 60vh;
}

.terminal-input{
  background-color: transparent;
  color:white;
  font: 1rem Inconsolata, monospace;
  outline: none;
  border-color: transparent;
}

.top-bar{
  background-color: #b322963f;
  height:2rem;
  padding: 0.25rem 1rem 0 1rem;
}

.terminal-content{
  padding: 1rem;
}

.purple{
  color: #b32296;
}

.icon-div{
  width:5rem;
  padding: 0.5rem;

}
.icon{
  height:3rem;
}